@using Microsoft.AspNetCore.Components.Routing
@using WebAPP.Services
@inject NavigationManager Navigation
@inject IAuthenticationService AuthService

<div class="sidebar">
    <h3>Menú</h3>
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Inicio</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/about">Acerca de</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/contact">Contacto</NavLink>
        </li>

        @if (user == null)
        {
            <li class="nav-item">
                <NavLink class="nav-link" href="/Login">Login</NavLink>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" href="#" @onclick="Logout">Cerrar sesión</a>
            </li>

            @if (user.oRolId == 1)
            {
                <li class="nav-item">
                    <NavLink class="nav-link" href="/administrar">Administrar</NavLink>
                </li>
            }
        }
    </ul>
</div>

@code {
    private User? user;

    protected override void OnInitialized()
    {
        user = AuthService.GetCurrentUser();
        AuthService.OnAuthStateChanged += AuthStateChanged;
    }

    private void AuthStateChanged()
    {
        user = AuthService.GetCurrentUser();
        InvokeAsync(StateHasChanged);
    }

    private void Logout()
    {
        AuthService.Logout();
        Navigation.NavigateTo("/");
    }

    public void Dispose()
    {
        AuthService.OnAuthStateChanged -= AuthStateChanged;
    }

}
