@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager Navigation

<div class="sidebar">
    <h3>Menú</h3>
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Inicio</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/Login">Login</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/about">Acerca de</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/contact">Contacto</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/Administrar">Administrar</NavLink>
        </li>
    </ul>
</div>
