@page "/about"

<h3>Acerca de</h3>
<p>
    Nuestra aplicación está diseñada para facilitar la gestión y participación en actividades deportivas dentro de nuestro club. Ofrecemos una plataforma intuitiva donde los usuarios pueden consultar y registrarse en eventos deportivos, y acceder a información sobre las actividades. Además, brindamos una opción de membresía que permite disfrutar de beneficios.
</p>
<p>
    El objetivo de nuestra aplicación es fomentar un entorno inclusivo y apasionado por el deporte, donde cada persona pueda sentirse parte de una comunidad. Con nuestro sistema fácil de usar y completamente accesible. ¡Únete a nosotros y forma parte de una familia deportiva que crece cada día!
</p>
