@page "/contact"

<h3>Contacto</h3>

<div class="container mt-4">
    <p class="fs-5">Si tienes alguna consulta o deseas comunicarte con nosotros, aquí están nuestras formas de contacto:</p>
    <ul class="list-unstyled fs-5">
        <li><strong>Teléfono:</strong> +54 11 1234 5678</li>
        <li><strong>Email:</strong> ClubDeportivoRO@gmail.com</li>
        <li><strong>Dirección:</strong> Calle Pepe 123, Rosario, Argentina</li>
    </ul>
    <p class="fs-5">¡Estamos aquí para ayudarte y responder todas tus preguntas!</p>
</div>
